<div id="wizard-header">
  <div class="step-wizard" role="navigation">
    <ul>
      <li *ngFor="let step of steps; let i = index" [ngClass]="{'active':i == indexStep, 'done': i < indexStep }">

        <button id="step1">
          <div class="progress-content">
            <div class="progress" [ngClass]="{'hide-line': i == 0}">
              <div class="progressbar empty" ></div>
              <div class="progressbar fill-step" [style.width]="indexStep >= i ? '100%' : '0%' "></div>
            </div>
            <div class="progress" [ngClass]="{'hide-line': i == steps.length - 1}">
              <div class="progressbar empty"></div>
              <div class="progressbar fill-step" [style.width]="indexStep > i ? '100%' : '0%' "></div>
            </div>
          </div>
          <div class="step">1</div>
          <div class="title">{{step.title}}</div>
        </button>
      </li>
    </ul>
  </div>
</div>

